sources:
  /var/lib/teamcity: https://download.jetbrains.com/teamcity/TeamCity-2019.2.tar.gz

container_commands:
  000-command:
        command: ls -al
        cwd: /var/lib/teamcity
  001-command:
        command: mv /var/lib/teamcity/Teamcity/* /var/lib/teamcity/
        cwd: /var/lib/teamcity
  002-command:
        command: mkdir /var/lib/teamcity/.BuildServer
        cwd: /var/lib/teamcity
  003-command:
        command: chmod +x ./.ebextensions/scripts/teamcity
        ignoreErrors: false
  004-command:
        command: cp ./.ebextensions/scripts/teamcity /sbin/
        ignoreErrors: false