sources:
  /var/lib/teamcity: https://download.jetbrains.com/teamcity/TeamCity-2019.2.tar.gz

container_commands:
  000-command:
        command: ls -al
        cwd: /var/lib/teamcity
  001-command:
        command: cp -Rf /var/lib/teamcity/TeamCity/* /var/lib/teamcity/
        cwd: /var/lib/teamcity
  002-command:
        command: rm -rf /var/lib/teamcity/TeamCity
        ignoreErrors: false
  003-command:
        command: mkdir -p /var/lib/teamcity/.BuildServer
        cwd: /var/lib/teamcity
  004-command:
        command: useradd teamcity
        ignoreErrors: false
  005-command:
        command: chown -R teamcity:teamcity /var/lib/teamcity/
        ignoreErrors: false
  006-command:
        command: chmod +x ./.ebextensions/scripts/teamcity
        ignoreErrors: false
  007-command:
        command: cp ./.ebextensions/scripts/teamcity /sbin/
        ignoreErrors: false
